@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: black;
    color: white;
}

.left{
    width: 25vw;
    margin: 10px 0;
}
.right{
    width: 75vw;
    margin: 15px 0;
}
.home{
    padding: 14px;
}
.home ul li{
    display: flex;
    gap: 12px;
    width: 20px;
    list-style: none;
    padding-top: 10px;
}
.heading{
    display: flex;
    gap: 12px;
    width: 100%;
    padding-top: 10px;
    font-weight: bold;
    align-items: center;
    font-size: 10px;
}
.heading img{
    width: 24px;
}
.library{
    min-height: 80vh;
    position: relative;
}
.footer{
    display: flex;
    font-size: 10px;
    gap: 13px;
    position: absolute;
    bottom: 0;
    font-size: 13px;


}
.footer a{
    color: gray;
    text-decoration: none;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(34 34 34);
}
.header > *{
    padding: 20px;
}
.header .nav svg{
    background-color: rgb(29, 28, 28);
    border-radius: 50%;
    cursor: pointer;
}